<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>练习react的基本用法</title>
<link href="/public/css/vendors.css?17af470665d4ce964bbb" rel="stylesheet"><link href="/public/css/reactDemo.css?17af470665d4ce964bbb" rel="stylesheet"></head>
<body>
	<div class="main">
		<div id="app">
			
		</div>
		
		

				
		
	</div>
<script type="text/javascript" src="/public/js/vendors.js?17af470665d4ce964bbb"></script><script type="text/javascript" src="/public/js/reactDemo.js?17af470665d4ce964bbb"></script></body>
</html>